{# templates/song/add.html.twig #}
{% extends "base.html.twig" %}

{% block content %}
    <div class="container mt-5">
        <h2>Add Song</h2>
        {{ form(song_form) }}
    </div>
{% endblock %}